
html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    height: 100%;
}

.container-product {
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 8px;
    width: 650px;
    height: 490px;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-align: initial;
    letter-spacing: 9px;
    font-weight: 100;
    margin: 35px 0 0px 40px;
    font-size: 14px;

}

.container-text{
    align-items: center;
}
.perfum-text {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    text-align: initial;
    margin: 20px 40px;
    padding-right: 15px;
}

p {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-align: initial;
    margin: 20px 40px;
    font-size: 14px;
    padding-right: 22px;
    line-height: 24px;
}

.primary-button {
    background: hsl(158, 36%, 37%);
    color: white;
    border: none;
    width: 245px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 29px;
    margin: 20px 20px 0 0px;
}

.price2 {
    font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin-top: 20px;
    
}

.image-desktop {
    width: 50%;    
    border-radius: 10px 0 0 10px;
}

.icon-carrito{
    width: 15px;
    padding-right:15px;
}

@media (max-width: 640px) {
.image-desktop{
    width: 100%;
    height: 300px;
    border-radius: 10px 10px 0 0px;
    object-fit: cover;
}

.container-product {
    flex-flow: column;
    width: 90%;
    height: auto;
    margin: 30px;
}
body {
    height: auto;
    flex-flow:column ;
}


.primary-button
{
  width: 90%;  
  margin: 20px auto
}

p {
    margin: 0px 40px;
}
.attribution {
    position: unset !important; 
}

}
